*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  .gradient-bg{
    
  
      /* ff 3.6+ */
      background:-moz-linear-gradient(90deg, rgba(254, 255, 249, 1) 0%, rgba(218, 223, 223, 1) 50%, rgba(181, 182, 183, 1) 100%); 
  
      /* safari 5.1+,chrome 10+ */
      background:-webkit-linear-gradient(90deg, rgba(254, 255, 249, 1) 0%, rgba(218, 223, 223, 1) 50%, rgba(181, 182, 183, 1) 100%);
  
      /* opera 11.10+ */
      background:-o-linear-gradient(90deg, rgba(254, 255, 249, 1) 0%, rgba(218, 223, 223, 1) 50%, rgba(181, 182, 183, 1) 100%);
  
      /* ie 6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B5B6B7', endColorstr='#FEFFF9', GradientType=0 );
  
      /* ie 10+ */
      background:-ms-linear-gradient(90deg, rgba(254, 255, 249, 1) 0%, rgba(218, 223, 223, 1) 50%, rgba(181, 182, 183, 1) 100%);
  
      /* global 94%+ browsers support */
      background:linear-gradient(90deg, rgba(254, 255, 249, 1) 0%, rgba(218, 223, 223, 1) 50%, rgba(181, 182, 183, 1) 100%);
  
    
       
  }
  .section__padding{
    padding: 4rem 6rem;
  }
  
  .section__margin{
    margin: 4rem 6rem;
  }
  
  @media (max-width:700px){
    .section__padding{
        padding: 4rem;
    }
    .section__margin{
        margin: 4rem;
    }
  }
  
  @media (max-width:550px){
  .section__padding{
      padding: 4rem 2rem;
  }
  .section__margin{
      margin: 4rem 2rem;
  }
  }
  
  