
*{
  top: 0px;
}


@font-face{
  font-family: 'Plus Jakarta';
  src: url("./fonts/PlusJakartaSans[wght].ttf");

}
@font-face{
  font-family: 'Plus Jakarta Bold';
  src: url("./fonts/PlusJakartaSans-ExtraBold.ttf");

}

:root {
  --font-family: 'Plus Jakarta', sans-serif; 
  --font-family-bold: 'Plus Jarkata Bold', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
