@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

body {
  font-family: "Plus Jakarta Display", sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.gradient-bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B5B6B7', endColorstr='#FEFFF9', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );
}
.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.about--mission {
  width: 567px;
  height: 125.45px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.005em;
  color: #23273c;
}

.about--about {
  width: 853px;
  height: 347px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
}

.about--believe {
  width: 300px;
  height: 390px;
  background: #23273c;
  box-shadow: 0px 4px 10px rgba(35, 39, 60, 0.35);
  border-radius: 6px;
}

.about--believe > p {
  width: 229px;
  height: 338px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.about--goal {
  width: 300px;
  height: 390.23px;
  background: #ff5460;
  border-radius: 6px;
}

.about--goal > p {
  width: 210px;
  height: 234px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.about--vision {
  width: 300px;
  height: 390.23px;
  background: #3cd760;
  border-radius: 6px;
}

.about--vision > p {
  width: 229px;
  height: 104px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.update--input {
  width: 430px;
}

.home-card {
  background: #1a2537 !important;
  box-shadow: 0px 18px 48px rgba(0, 0, 0, 0.07) !important;
  border-radius: 20px !important;
  height: 358px;
  width: 896px;
}

.greeting--home {
  width: 130px;
  height: 60px;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  color: #fcfcfd;
}

.greeting--hello {
  width: 163px;
  height: 22px;
  font-weight: 500;
  font-size: 30px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(252, 252, 253, 0.5);
}

.user--image {
  height: 140px !important;
  width: 140px !important;
  border-radius: 46.290321350097656px;
}

.home--income {
  height: 178.57325744628906px;
  width: 163px;
  border-radius: 20px !important;
  padding: 10px;
}

.income-title,
.expense-title {
  height: 14px;
  margin-top: 40px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #1d2025;
  opacity: 0.5;
}

.income-value {
  height: 25.08px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #41dc65;
}

.expense-value {
  height: 25.08px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff5460;
}

.home--balance {
  height: 138px;
  width: 469px;
  left: 90px;
  top: 40px;
  border-radius: 24px !important;
  background: #3ec3d5 !important;
}

.balance {
  width: 122.08px;
  height: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #fcfcfd;
}

.balance--value {
  width: 237.98px;
  height: 62px;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.37px;
  color: #fcfcfd;
}

.balance-calender {
  animation-timing-function: cubic-bezier(0.45, 1.45, 0.8, 1);
  animation-duration: 300ms;
}

.activities--button {
  height: 76px;
  width: 410px;
  border-radius: 10px 10px 10px 0px;
}

.total {
  margin-top: 20px;
}

.total-categories {
  width: 166px;
  height: 28px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.37px;
  color: #1a2537;
}

.mobile--nav{
  position: fixed;
  top: 663px;
  z-index: 1;
  max-height: 80px;
}

.add--button{
  position: absolute;
  top: -50px;
  margin-left: 135px;
  margin-right: 135px;

}

@media (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*Login and sign-up Background image sizing */
  .bg-img {
    background-image: url(./images/background-image.svg) !important;
    background-size: contain !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }

  .about--mission {
    width: 297px;
    height: 109px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.025em;
    color: #23273c;
  }

  .about--about {
    width: 297px;
    height: 295px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 0.025em;
    color: #23273c;
  }

  .home-card {
    background: #dededf !important;
    box-shadow: 0px 18px 48px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    display: flex;
    height: 280px;
    width: 100%;
  }
  .greeting--home {
    visibility: hidden;
    position: relative;
  }

  .greeting--home::before {
    visibility: visible;
    position: absolute;
    content: "Hello, Maria";
    width: 90px;
    height: 22px;
    font-weight: 400;
    font-size: 17px;
    color: #1d2025;
  }

  .greeting--hello {
    visibility: hidden;
    position: relative;
  }

  .greeting--hello::before {
    content: "Home";
    position: absolute;
    visibility: visible;
    width: 95px;
    height: 44px;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: -0.37px;
    color: #1d2025;
  }

  .home--balance {
    height: 120px;
    top: 15px;
    left: 0px;
    width: 100%;
    border-radius: 24px;
  }

  .user--img {
    width: 60px !important;
    border-radius: 50%;
    margin-top: 15px;
  }

  .bell--compo {
    position: absolute;
    right: 80px;
    top: 19px;
  }

  .total {
    margin-top: -50px;
  }

  .total-categories {
    width: 166px;
    height: 28px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.37px;
    color: #1d2025;
  }

  .see-all {
    width: 44px;
    height: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #3ec3d5;
    margin-left: 100px !important;
  }

  .home--income {
    height: 172px;
    width: 157px;
    background: #dededf !important;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.03);
  }

  .income-value,
  .expense-value {
    height: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #1d2025;
  }
}
