@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

body {
  font-family: "Plus Jakarta Display", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.gradient-bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B5B6B7', endColorstr='#FEFFF9', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );
}
.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.about--mission {
  width: 567px;
  height: 125.45px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.005em;
  color: #23273c;
}

.about--about {
  width: 853px;
  height: 347px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
}

.about--believe {
  width: 300px;
  height: 390px;
  background: #23273c;
  box-shadow: 0px 4px 10px rgba(35, 39, 60, 0.35);
  border-radius: 6px;
}

.about--believe > p {
  width: 229px;
  height: 338px;
  font-family: "Plus Jakarta Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.about--goal {
  width: 300px;
  height: 390.23px;
  background: #ff5460;
  border-radius: 6px;
}

.about--goal > p {
  width: 210px;
  height: 234px;
  font-family: "Plus Jakarta Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.about--vision {
  width: 300px;
  height: 390.23px;
  background: #3cd760;
  border-radius: 6px;
}

.about--vision > p {
  width: 229px;
  height: 104px;
  font-family: "Plus Jakarta Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.update--input {
  width: 430px;
}

@media (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*Login and sign-up Background image sizing */
  .bg-img {
    background-image: url(./images/background-image.svg) !important;
    background-size: contain !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }

  .about--mission {
    width: 297px;
    height: 109px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.025em;
    color: #23273c;
  }

  .about--about {
    width: 297px;
    height: 295px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 0.025em;
    color: #23273c;
  }

}
